@model IEnumerable<BikeStore.ViewModels.BikeViewModel>

@{
    ViewBag.Title = "Bikes By Brand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.First().BrandName Bikes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BikeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WholesalePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BikeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WholesalePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
    </tr>
}

</table>
